:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
  --scroll-margin-top: 4.5rem;

  //My
  --color: 240 5.9% 90%;
  --bg: 240 5.9% 90%;
  --border: 240 5.9% 90%;
  --background: 0 0% 100%;

  //Default colors
  --zinc-050: 250, 250, 250;
  --zinc-100: 244, 244, 245;
  --zinc-200: 228, 228, 231;
  --zinc-300: 212, 212, 216;
  --zinc-400: 161, 161, 170;
  --zinc-500: 113, 113, 122;
  --zinc-600: 82, 82, 91;
  --zinc-700: 63, 63, 70;
  --zinc-800: 39, 39, 42;
  --zinc-900: 26, 26, 30;
  --zinc-950: 14, 14, 17;

  //Light Mode Purple-Heart
  --color-050: 242, 240, 255;
  --color-100: 234, 230, 255;
  --color-200: 221, 204, 255;
  --color-300: 204, 153, 255;
  --color-400: 187, 102, 255;
  --color-500: 153, 0, 255;
  --color-600: 127, 0, 212;
  --color-700: 102, 0, 170;
  --color-800: 76, 0, 127;
  --color-900: 51, 0, 85;
  --color-950: 25, 0, 42;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0 solid #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  &.scroll-lock {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.title_h1,
.title_h2,
.title_h3 {
  font-weight: 600;
  line-height: 1.5;
  scroll-margin-top: var(--scroll-margin-top);
}
.title_h1 {
  color: rgb(var(--color-900));
  font-size: 2.25rem;
  letter-spacing: -0.2px;
}

.title_h2 {
  color: rgb(var(--color-800));
  font-size: 1.75rem;
  letter-spacing: 0.1px;
}

.title_h3 {
  color: rgb(var(--color-700));
  font-size: 1.25rem;
}
.sub_title {
  color: rgb(var(--zinc-500));
  font-size: 1.125rem;
  line-height: 1.33333;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
}
.text {
  color: rgb(var(--zinc-600));
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
}
.link {
  color: rgb(var(--color-500));
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
  &:hover {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.carousel-custom {
  //margin-bottom: 1rem;
  &.flexEnd {
    align-items: flex-end;
  }
  .rec {
    //transition: all 0.5s;

    &-slider-container {
      margin: 0;
    }

    &-pagination {
      display: flex;
      align-items: center;
      margin: 1rem 0 0 0;
      margin-right: auto;
    }

    &-dot {
      height: 8px;
      width: 8px;
      background-color: #d5d7da;
      box-shadow: none;

      //Ajustar isso direto na página que tiver criando, e deixar esses valores como padrão
      //margin: 6px 10px;

      &_active {
        box-shadow: 0 0 1px 3px;
        width: 20px;
        height: 4px;
        margin: 6px 5px;
        border-radius: 8px;
        background-color: #000;
      }
    }
  }
}

.vault-drawer {
  transform-origin: center top;
  transition-property: transform, border-radius;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  &.open {
    border-radius: 8px;
    overflow: hidden;
    transform: scale(0.9277777777777778)
      translate3d(0, calc(env(safe-area-inset-top) + 14px), 0);
  }
}
